h1 {
  margin-bottom: 0;
}
nav a {
  padding: 1rem;
  text-decoration: black;
  margin-top: 10px;
  display: inline-block;
  background-color: #bdbae5c5;
  color: #3d3d3d;
  border-radius: 8px;
}

nav a:hover {
  color: white;
  background-color: #676dc4;
}
nav a.active {
  background-color: black;
}